<!-- INDEX.erb -->

<div class="container">
	<div class="row">  
		<!-- row is a horizontal space divided by 12 colomns (b/c 12 makes it easy to divie into 3rds 4ths. Heps with offset. Inside of a row we can put another row. with 12 more columns. Help with relative reference) -->

		<div class="col-lg-6 left">
			<ul> Left </ul>
				<li> first item </li>
				<li> second item </li>
			</ul>
		</div>
		<div class="col-lg-6 right">
			Right
		</div>
	</div>


</div>

<div class="container">
	<div class="row">  
		<!-- row is a horizontal space divided by 12 colomns (b/c 12 makes it easy to divie into 3rds 4ths. Heps with offset. Inside of a row we can put another row. with 12 more columns. Help with relative reference) -->

		<div class="col-md-6 left">
			Left
		</div>
		<div class="col-md-6 right">
			Right
		</div>
	</div>


</div>


<div class="container">
	<div class="row">  
		<!-- row is a horizontal space divided by 12 colomns (b/c 12 makes it easy to divie into 3rds 4ths. Heps with offset. Inside of a row we can put another row. with 12 more columns. Help with relative reference) -->

		<div class="col-sm-6 left">
			TestLeft
		</div>
		<div class="col-sm-6 right">
			Right
		</div>
	</div>


</div>


<div class="container">
	<div class="row">  
		<!-- row is a horizontal space divided by 12 colomns (b/c 12 makes it easy to divie into 3rds 4ths. Heps with offset. Inside of a row we can put another row. with 12 more columns. Help with relative reference) -->

		<div class="col-xs-6 left">
			Test
		</div>
		<div class="col-xs-6 right">
			Right
		</div>
	</div>


</div>
